@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Oxygen:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.item_header, .item_footer {
    text-transform: uppercase;
    font-family: 'Oxygen', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.6px;
    color: #FFFFFF;
}

.item_footer {
    opacity: 0.6;
}

.header__navigate {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 74px;
    z-index: 3;
}

.header, .footer {
    position: relative;
    background-size: 100%;
    background-position: center;
    display: flex;
    z-index: 1;
}

.header {
    background-image: url('C:/Users/iatro/Web/CoR0NaEx/img-main/header-background.jpg');
    height: 500px;
}

.header__filling-area {
    position: relative;
    display: flex;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    z-index: 2;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.header__operative-phrases {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 67%;
    height: 159px;
}

.header__operative-phrases_top {
    display: flex;
    font-family: 'Lora', serif;
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 51px;
    color: #FFFFFF;
}

.header__operative-phrases_bot {
    display: flex;
    font-family: 'Lora', serif;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0em;
    line-height: 20px;
    color: #FFFFFF;
}

.header__operative-phrases-btn {
    display: flex;
    border-radius: 3px;
    background-color: #DD783F;
    width: 167px;
    height: 44px;
    align-items: center;
    justify-content: center;
}

.header__operative-phrases-btn_txt {
    
    color: #FFFFFF;
}

.categories-menu  {
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 65px;
}

.categories-menu__list {
    display: flex;
    width: 67%;
    justify-content: space-around;
    align-items: center;
}

.categories-menu__list_item {
    text-decoration: none;
    font-family: 'Lora', serif;
    color: #768088;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0em;
    line-height: 20px;
}

.main-content {

}

.featured-posts {
    display: flex;
    width: 67%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.main-categories {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 44px;
    margin-top: 60px;
    margin-bottom: 17px;

}

.main-categories_header_text {
    font-family: 'Oxygen', sans-serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 27px;
    color: #2E2E2E
}

.posts-header-underline {
    display: flex;
    height: 1px;
    width: 188px;
    background-color: #DEDEDE;
}

.featured-posts__item_first, .featured-posts__item_second {
    width: 460px;
    height: 280px;
    border-radius: 3px;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: space-around;
    flex-wrap: wrap;
}

.featured-posts__item_first {
    background-image: url('C:/Users/iatro/Web/CoR0NaEx/img-main/the-road-ahead-img.jpg');
}

.featured-posts__item_second {
    background-image: url('C:/Users/iatro/Web/CoR0NaEx/img-main/from-top-down-img.jpg');
}

.article-description__main-text {
    font-family: 'Lora', serif;
    font-size: 27px;
    line-height: 30px;
    letter-spacing: 0;
    color: #FFFFFF;
}

.article-description__bottom-text {
    font-family: 'Oxygen', sans-serif;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0;
    color: #FFFFFF;
}

.author-info__img {
    border-radius: 60px;
    width: 26px;
    height: 26px;
}

.article-info__date {
    font-family: 'Oxygen', sans-serif;
    font-size: 12px;
    line-height: 35px;
    letter-spacing: 0;
    color: rgba(255, 255, 255, 0.5);
}

.footer {
    background-image: url('C:/Users/iatro/Web/CoR0NaEx/img-main/footer-background-img.jpg');
    height: 89px;
}

.footer__navigate {
    z-index: 2;
    background: linear-gradient(to right, rgba(35, 47, 56, 0.6), rgba(35, 47, 56, 0.6));
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigate-menu {
    width: 67%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navigate-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.navigate-menu__list_item {
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
}